#containingblockdemo{
    width:250px;
    height: 250px;
    background: rgba(255,102,255,.7);
}

#containingblockdemo.transform{
    -webkit-transform: skew(-35deg);
         -o-transform: skew(-35deg);
       -moz-transform: skew(-35deg);
        -ms-transform: skew(-35deg);
}
#unskew{
    width: 200px;
    height: 200px;
    background: rgb(153,255,0);
    font-size: 1.5rem;
    position:absolute;
    left: 25px;
    top:  260px;
}

.transform #unskew{
    top: 25px;
}