#perspectivedemo{
    width: 250px;
    height: 250px;
    background: hsl(210, 100%, 50%);
    margin: 0 auto 2rem auto;
    -webkit-transform: translate3d(0,0,100px);
         -o-transform: translate3d(0,0,100px);
       -moz-transform: translate3d(0,0,100px);
        -ms-transform: translate3d(0,0,100px);
            transform: translate3d(0,0,100px);
}

.clear{clear:both;}
.small{font-size:1.2rem;}