body{
    font: 100% / 1.5 helvetica,'liberation sans',arial;
    margin:0;
    padding:0
}

header,article,footer{
    background:#fff;
    width:95%;
    margin:0 auto;
    padding:0
}
figure{display;block;margin:auto;}
input{font: 1.1rem / 1 monospace;}
.center{text-align:center;}
.right{text-align:right;}
label,form p{font-family:monospace}
form p{
    margin:1rem;
}

button{
    background:#30f;
    border:1px solid #30f;
    color:#fff;
    font: 1rem / 1.2 helvetica,'liberation sans',arial;
}

input[type=text]{border: 1px solid #bbb}

input:focus{
    outline:none;
    background: hsl(68, 100%, 50%);
}